/* Global styles for the document */
body {
    display: flex;
    flex-direction: column;
    background-color: #222034;
    color: #ffffff;

    header{
        display: flex;
        justify-content: center;
        button{
            color: #ffffff;
            background-color: #0f0f0f;
            border: solid, #ffffff;
            border-width: 5px;
            border-radius: 25%;
            padding: 1%;
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    a:link {
        color: green;
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
    }
    
    .main{
        display: flex;
        flex-direction: row;
        
        
        .img_lateral{
            flex: 1;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .data{
            flex: 5;
            /*background-color: #15141d;*/
            .buttons{
                display: flex;
                width: 100%;
                justify-content: space-between;
                img{
                    margin: 50px;
                    margin-bottom: 5px;
                    margin-top: 10px;
                    width: 50px;
                    height: 50px;
                    border-radius: 25%;
                    cursor: pointer;
                }
                 .box{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                 }
                
            }

            .myface{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                
                img{
                    border-radius: 50%;
                    border-color: aliceblue;
                    border-width: 7px;
                    border: solid;
                }
            }

            .info{
                display: flex;
                flex-direction: column;
                width: 80%;
                padding-left: 10%;
                padding-right: 10%;
                justify-content: center;
                align-items: center;
                text-align: center;
                align-content: center;

                .skill-set {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;
                    margin-bottom: 10px;

                    .skill {
                        /*background-color: #0f0f0f;*/
                        padding: 15px;
                        border-radius: 8px;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                        transition: background-color 0.3s;
                    }
                    .skill:hover {
                        background-color: #e0e0e0;
                        color: #0f0f0f;
                        
                    }
                }
                
            }


        }
    }
    
    footer{
        text-align: center;
    }

}

