
#ALBERTO {
    color: BLACK;
    font-size: 50px;
}
header{
    background-color: grey;
    padding: 0%;
    margin: 0%;
    display: flex;
	justify-content: center;
}
body {
    background-color: rgb(67, 73, 78);


}
#knowledge{
    background-color: rgba(0, 0, 0,20%);
    margin-top: 5%;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
}
.button_box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}
#knowledge h1{
    text-align: center; /* Centrar el encabezado */
    margin-bottom: 50px;
    
}
.boton{
    background-color: rgb(31, 31, 31);
    color: white;
    transition: background-color 0.3s ease;
    border-color: black;
    border-radius: 30%;
    height: 90px;
    width: 90px;
}

.boton:hover{
    background-color: rgb(50, 0, 97);
    color: white;
    
}
.imgbutton {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    width: 70px;
}

footer {
    background-color: rgb(23, 23, 23);
}